* {
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import './helper/variables';
@import './helper/mixin';
@import './helper/placeholder';
@import './helper/extend';
@import './helper/grid';
@import './helper/nav';
@import './helper/footer';
@import './helper/animation';

body {
    max-width: 1920px;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: $color-lightblue;
    font-size: 38px;
    margin-top: 35px;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: $color-lightblue;
    font-size: 33px;
    margin-top: 35px;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    color: $color-black;
    font-size: 31px;
    margin-top: 20px;
}
a {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: $color-black;
    height: 450px;
    border:none;
    #header-container {
        max-width: 1420px;
        margin: auto auto;
        position: relative;
    
    img {
        position: absolute;
        top: 45px;
        left: 0;
        width: 20%;
       
    }
    h1 {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
        font-size: 6.8vw;
        font-weight: 500;
        position: absolute;
        top: 2.57vh;
        right: 0;
        
        
    }
    h2{
        color: #6699cc;
        font-family: 'Oswald', sans-serif;
        font-size:  5vw;
        font-weight: 300;
        position: absolute;
        top: 20.6vh;
        right: 0;
        margin:0;
        
    }
}
}

main {
    max-width: 1420px;
    margin: auto auto;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(128, 128, 128, 0.637);
      /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    border: 1px solid #888;
    width: 800px;
    img {
      width: 100%;
    }
     /* The Close Button */
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #aaaaaa;
    font-size: 40px;
    font-weight: bold;
    &:hover,&:focus {
       color: #000;
    text-decoration: none;
    cursor: pointer;
     }
    }
    
   }
  }
  #article3 {
    position: relative;
    a {
        color: $color-black;
        position: absolute;
        bottom: -90px;
        right: 0;
        font-size: 28px;
        text-decoration: underline;
    }
}
#article5 {
    position: relative;
    a{
     font-size: 31px;
     color: $color-black;
     text-decoration: underline;
     position: absolute;
     top: 35px;
     right: 0;
    }
}
//form
#form_grid {
    margin-top: 35px;
}
#formInfo {
    position: relative;
    a {
        position: absolute;
        top: 60px;
        right: 0 ;
        text-decoration: underline;
        font-size: 31px;
        color: $color-black;
      }
}
form {
    
    
    textarea {
        &::placeholder {
            color: #cccccc;
        }
        color: #cccccc;
        border: 3px solid $color-bg;
        font-size: 31px;
        width: 100%;
        height: 68%;
        display: block;
        margin-bottom: 12px;
    }
    button {
        font-size: 31px;
        border: 3px solid $color-blue;
        background-color: $color-blue;
        color: #cccccc;
        width: 49.0049%;
        display: inline;
      
    }
    #cancel {
    
            margin-right: 14px;
            border: 3px solid $color-lightblue;
            background-color: $color-lightblue;
        
    }
    input {
        &::placeholder {
            color: #cccccc;
        }
        border: 3px solid $color-bg;
        display: block;
        width: 100%;
        margin-bottom: 12px;
        font-size: 31px;
        
    }
}

// Media Q
@media screen and (max-width: 1200px) {

    header {
    height: 300px;
    #header-container {
        
    img {
        left: 35px;
    
    }
    h1 {
        top: 50px;
        right: 35px;
        
    }
    h2{
        top: 150px;
        right: 35px;
        
    }
}
}

form {
    textarea {
        height: 59%;
    }
    button {
        width: 48.5%;
    }
}
}




@media screen and (max-width: 680px) {
    header {
        height: 200px;
        #header-container {
            
            
        img {
            left: 35px;
        }
        h1 {
            font-size: 60px;
            top: 50px;
            right: 35px;
            
        }
        h2{
            font-size: 44px;
            top: 125px;
            right: 35px;
            
        }
    }
    }
}